<footer class="bg-primary pt-48">
    <div class="container">
        <div class="footer-top pb-32">
            <div class="footer-navbar d-flex jc-sb ai-c mb-36">
                <ul class="footer-links d-flex">
                    <li class="link-item"><a href="index.html">首頁</a></li>
                    <li class="link-item"><a href="#">系列鏡框</a></li>
                    <li class="link-item"><a href="index.html">門市據點</a></li>
                    <li class="link-item"><a href="#">部落格</a></li>
                    <li class="link-item"><a href="qa.html">常見問題</a></li>
                </ul>
                <ul class="social d-flex">
                    <li><a href="#"><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/ic-social-fb.png" alt="fb"></a></li>
                    <li><a href="#"><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/ic_social_ig.png" alt="ig"></a></li>
                    <li><a href="#"><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/ic_social_line.png" alt="line"></a></li>
                </ul>
            </div>
            <div class="contact">
                <p class="title-small d-flex ai-c"><span class="material-icons-outlined title-small">local_phone</span><a href="tel:+886800-000-000">0800-000-000</a></p>
                <p class="title-small d-flex ai-c"><span class="material-icons-outlined title-small">email</span><a href="mailto:glasses@business.com">glasses@business.com</a></p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="footer-bottom d-flex jc-sb pt-32 pb-32">
            <p class="copyright">Copyright © 2020 Glasses.All rights reserved.</p>
            <div class="policy d-flex link-small">
                <a href="#">隱私權政策</a>
                <a href="#">服務條款</a>
            </div>
        </div>
    </div>
</footer>