<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>眼鏡形象官網 - 門市據點</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
  </head>
  <body>
    <%- include('./layout/header'); -%>
    
    <div class="container mt-96 mb-80 mb-sm">
      <div class="row flex-wrap">
        <div class="col-12 px-12 col-md-12">
          <div class="col-8">
            <h2 class="title-middle page-title mb-32 title-md-24">門市據點</h2>
          </div>
          <div class="col-4 d-flex col-md-12">
            <label for="storeSelect" class="title-24 mr-16 title-md-16">選擇分店</label>
            <select name="store" class="mb-40 text-18 select">
              <option value="1">台北中山旗艦店</option>
            </select>
          </div>
          
        </div>
        <div class="col-5 px-12 col-md-12">
          <div class="row">
            <div class="store-card px-12 d-flex f-dir col-md-12">
              <div class="card-img col-md-6">
                <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/store-1.png" alt="store">
              </div>
              <div class="card-content col-md-6">
                <div class="store-name">
                  <p class="title-24">台北中山旗艦店</p>
                </div>
                <div class="store-content title-20">
                  <p class="d-flex ai-c mb-8"><span class="material-icons-outlined mr-10">local_phone</span>電話：<a href="tel:+88600-1234">(02)000-1234</a></p>
                  <p class="d-flex ai-c mb-8"><span class="material-icons-outlined mr-10">access_time</span>營業時間：10:00-21:00</p>
                  <p class="d-flex ai-c"><span class="material-icons-outlined mr-10">place</span>地址：台北市中山區南京東路25巷2-1號</p>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        <div class="col-7 px-12 col-md-12 store-map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1122.1642013063226!2d121.53801166322422!3d25.052081733002517!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abdf92494d29%3A0xd908a8a881f73476!2zMTA0OTHlj7DljJfluILkuK3lsbHljYDljZfkuqzmnbHot6_kuInmrrUyNeiZnw!5e0!3m2!1szh-TW!2stw!4v1691672685586!5m2!1szh-TW!2stw" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
